

$bgc: #7D848C;
$callout: #21A6A6;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body{
  margin: 0px !important;
  font-family: 'Lato', sans-serif !important;
  font-size: 36px;
}

.main1{
  text-align: center;
  background-color: $bgc;
  overflow-y:scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  > * {
    scroll-snap-align: center;
    margin: 0px 0px 100vh;
    position: relative;
  }
}

.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

canvas{
  position: absolute;
  left: 0;
  top: 0;
  background-color: darken($bgc, 10%);

}
